# Python tutorial for WHY
### References:
- [Python Data Science Book](https://jakevdp.github.io/PythonDataScienceHandbook/), written by [Jake VanderPlas](http://jakevdp.github.io/pages/about.html)
- [A Whirlwind Tour of Python](https://jakevdp.github.io/WhirlwindTourOfPython/), written by Jake VanderPlas

In [2]:
import numpy as np
import pandas as pd

In [4]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

In [5]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [13]:
pd.DataFrame(population, columns=['pop'])

                 pop
California  38332521
Texas       26448193
New York    19651127
Florida     19552860
Illinois    12882135

In [14]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]

In [35]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.252814  0.028992
b  0.690269  0.158010
c  0.039782  0.424990

In [39]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [41]:
ind = pd.Index([2, 3, 5, 7, 11])
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [58]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])
indA & indB  # intersection

Int64Index([3, 5, 7], dtype='int64')

In [59]:
pd.to_pickle(states, 'test.pkl')
pd.read_pickle('test.pkl')

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995